<!doctype html>
<html lang="en">
<%- include('./components/header') %>
<body class="flex min-h-screen items-center justify-center">
  <% if (user) { %>
    <script>window.location.href='/dashboard';</script>
  <% } else { %>
    <script>window.location.href='/login';</script>
  <% } %>
</body>
</html>
